@page "/contact"

<div class="page-container">
	<div class="contact-panel">
		<div class="inner-panel">
			<h3>Kontakt</h3>
			<p>Telefon : 321 654 789</p>
			<p>Mail: debughelp@dbug.com</p>
			<p>Grunwaldzka 17 Kielce 25-325</p>
		</div>
		<div class="inner-panel">
			<h3>Godziny otwarcia:</h3>
			<p>Pon - Pt 9:00 - 18:00</p>
			<p>Sob -Niedz 10:00 - 14:00</p>
		</div>
	</div>

</div>


@code {

}
