@page "/"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
<PageTitle>Debug</PageTitle>

<div class="page-container">
    <div class="side-menu">
        <CategoryMenu />
    </div>
    <div class="page-content">
        <h2>Polecane produkty</h2>
        <div class="product-grid">
            @foreach (var product in Products)
            {
                <ProductCard Product="@product" />
            }
        </div>
    </div>
    
</div>


@code {
    private List<ProductCardInfo> Products = new List<ProductCardInfo>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine("Fetching products from JSON file...");
            var fetchedProducts = await Http.GetFromJsonAsync<List<ProductCardInfo>>(
                $"data/ProductCardInfo.json?nocache={Guid.NewGuid()}"
            );

            var fetchedCart = await LocalStorage.GetItemAsync<List<CarItemModel>>("cartItems");

            if(fetchedCart == null)
            {
                await LocalStorage.SetItemAsync("cartItems", new List<CarItemModel>());
            }
            

            if (fetchedProducts != null)
            {
				Console.WriteLine($"Fetched {fetchedProducts.Count} products.");
                Products = fetchedProducts;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error fetching products: {e.Message}");
        }
    }
}
