body {
    background-color: #3B3B3B;
    color: white;
    font-family: sans-serif;
}
.layout {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 1rem;
}

.product-grid {
    margin-left:50px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 3rem;
}
