
<div class="cart-item">
	<img src="@ImageUrl" alt="Product Image" class="cart-item-image" />
	<p>@cartItemName</p>
	<p><input type="number" value="1" class="cart-item-quantity" min="1" /> Ilość</p>
	<p>@cartItemPrice zł</p>
	<button class="del-btn"><img src="@trashIconUrl" /></button>
</div>
@code {

	[Parameter] public string ImageUrl { get; set; } = string.Empty;
	[Parameter] public string trashIconUrl { get; set; } = string.Empty;
	[Parameter] public string cartItemName { get; set; } = string.Empty;
	[Parameter] public float cartItemPrice { get; set; } = 0.0f;
}
